<div class="service-connection">
    <div class="service-connection__header mb-md">
        <mat-slide-toggle
            color="primary"
            labelPosition="before"
            [disabled]="noExternalConnection"
            [matTooltip]="noExternalConnection ? 'This cluster doesn’t have external connection information' : ''"
            [(ngModel)]="showInnerConnection">
            <mat-icon class="mr-xs">info</mat-icon> Show connection info internal to the cluster
        </mat-slide-toggle>
    </div>

    <kl-service-connection-table
        [serviceModel]="(currentService$ | async)!"
        [showInnerConnection]="showInnerConnection"
    >
    </kl-service-connection-table>
</div>
