package app

import "k8s.io/client-go/rest"

type Service struct {
	client *rest.RESTClient
}

func New(client *rest.RESTClient) *Service {
	return &Service{client: client}
}

func (srv *Service) OnShutdown() {
	// do smth on shutdown...
}
