@import '../../../assets/styles/shared';

.header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    height: 83px;
    background-color: #F4F5F7;

    &__part {
        display: flex;
        align-items: center;
        padding-right: 50px;
        flex-shrink: 0;

        &:last-child {
            padding-right: 20px;
        }
    }

    &__logo {
        width: 210px;
        height: 50px;
        margin-left: 35px;
        margin-right: 20px;
        background: url('../../../assets/svg/logo.svg') no-repeat;
        background-size: contain;
        position: relative;

        &--link {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: transparent;
        }
    }

    &__links {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
}

.menu-item {
    color: #000000;
    font-size: 14px;
    line-height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;

    &__overlay {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(15, 49, 90, 0.05);
    }

    &:hover {
        .menu-item__overlay {
            display: block;
        }
    }

    &__title {
        margin-left: 5px;
        font-weight: 400;
    }

    &--selected {
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            height: 3px;
            opacity: 0.94;
            background-color: $primary-color;
        }
    }
}
