<mat-form-field floatLabel="never" appearance="outline">
    <mat-select #type [(value)]="selectedType" (valueChange)="onChangeType($event)">
        <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field floatLabel="never" appearance="outline" *ngIf="type.value === ScheduleType.WEEKLY">
    <mat-select [(value)]="selectedWeekday" (valueChange)="onChangeWeekday($event)">
        <mat-option *ngFor="let weekday of weekdays" [value]="weekdays.indexOf(weekday)">
            {{weekday}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field floatLabel="never" appearance="outline">
    <mat-select [(value)]="selectedHour" (valueChange)="onChangeHour($event)">
        <mat-option *ngFor="let hour of hours" [value]="hour">
            {{getHourLabel(hour)}} UTC
        </mat-option>
    </mat-select>
</mat-form-field>

<div>next backup will be created at {{ next | date: "dd MMM YYYY" }}</div>
