@import "../../../assets/styles/colors";

.table-skeleton {
    &__row {
        display: flex;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid $gray10;
    }

    &__column {
        display: block;
        background: $white100;
        width: 100%;
        padding: 14px;
    }
}

::ng-deep .table-skeleton__row {
    .loader {
        background: $gray20 !important;
        border-radius: unset !important;
        display: flex;
        height: 24px !important;
        margin: 0 !important;
    }
}
