---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "apiserver.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: http
      nodePort: {{ .Values.service.nodePort }}
      port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.config.port }}
  selector:
    {{ include "apiserver.selectorLabels" . | nindent 4 }}
  type: NodePort