<div class="restore-service-backups-dialog">
    <h2 mat-dialog-title>Restore</h2>

    <mat-dialog-content>
        <form class="create-service-user-form__right-part" [formGroup]="formGroup">
            <label class="restore-service-backups-dialog__label" for="database-select">Select database</label>
            <mat-form-field floatLabel="never" appearance="outline" class="restore-service-backups-dialog__field">
                <mat-select formControlName="database" disableOptionCentering id="database-select">
                    <mat-option *ngFor="let item of (serviceDatabases$ | async)" [value]="item.name" >
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="formGroup.controls.database.errors?.required">This field is required</span>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="restore-service-backups-dialog__actions">
        <button mat-flat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSave()">Restore</button>
    </mat-dialog-actions>
</div>
