.restore-service-backups-dialog {
    &__field {
        width: 100%;
        min-width: 330px;
        margin-bottom: 50px;
    }

    &__label {
        color: #1D1D1D;
        font-size: 12px;
        line-height: 16px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }
}
