<table mat-table class="service-backups-table" aria-label="Backups" [dataSource]="backups">
    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Data size</th>
        <td mat-cell *matCellDef="let row">{{ row.size | filesize }}</td>
    </ng-container>

    <ng-container matColumnDef="lastModified">
        <th mat-header-cell *matHeaderCellDef>Backup time</th>
        <td mat-cell *matCellDef="let row"><kl-time-utc timestamp="{{ row.lastModified }}"></kl-time-utc></td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-button color="primary"
                    (click)="onRestore(row.file)"
                    class="service-backups-table__first-action service-backups-table__action">
                Restore
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<kl-table-skeleton *ngIf="!backups" [rows]="3" [columns]="3"></kl-table-skeleton>
