<form class="add-advanced-setting-form" [formGroup]="formGroup">
    <mat-form-field floatLabel="never" appearance="outline" class="add-advanced-setting-form__field">
        <input class="form-field__input" type="text"
               formControlName="key"
               matInput
        >
        <mat-error>
            <span *ngIf="formGroup.controls['key'].errors?.required">This field is required</span>
            <span *ngIf="formGroup.controls['key'].errors?.pattern">Space is not allowed</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="outline" class="add-advanced-setting-form__field">
        <input class="form-field__input" type="text"
               formControlName="value"
               matInput
        >
        <mat-error>
            <span *ngIf="formGroup.controls['value'].errors?.required">This field is required</span>
        </mat-error>
    </mat-form-field>

    <div>
        <button mat-flat-button color="primary" class="add-advanced-setting-form__add-button" (click)="onSubmit()">Add</button>
    </div>
</form>
