apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
- services.yaml

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
- files:
  - docker-compose.yaml
  name: compose-file
- files:
  - mapping-fields.yaml
  name: mapping-fields
secretGenerator:
- behavior: create
  envs:
  - kuberlogic-config.env
  name: kuberlogic-config
images:
- name: apiserver
  newName: quay.io/kuberlogic/dynamic-apiserver
  newTag: 0.0.11
- name: chargebee-integration
  newName: quay.io/kuberlogic/chargebee-integration
  newTag: 0.0.11
- name: controller
  newName: quay.io/kuberlogic/dynamic-operator
  newTag: 0.0.11
