.app-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        grid-area: header;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 101;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }

    &__main {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 300px;
        margin-top: 0;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__logged-in {
        margin-top: 150px;
    }

    &__content {
        grid-area: content;
        position: relative;
        min-width: 300px;
        height: 100%;
    }
}
