---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  - apiGroups:
      - kuberlogic.com
    resources:
      - kuberlogicservices
      - kuberlogicbackupschedules
      - kuberlogicbackuprestores
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - cloudlinux.com
    resources:
      - postgresqls
      - mysqlclusters
      - redisfailovers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kuberlogic.com
    resources:
      - kuberlogicservices/status
      - kuberlogicbackupschedules/status
      - kuberlogicbackuprestores/status
    verbs:
      - get
      - patch
      - update
  # for backups:
  - apiGroups:
      - batch
    resources:
      - cronjobs
      - jobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - update
      - list
      - get
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - list
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get