
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Fonts
@import "src/assets/fonts/index";

@import "src/assets/styles/material-theme-overrites";

// Messages
@import "src/assets/styles/messages";

// Spacing
@import "src/assets/styles/spacing";
@include setup-spacing();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Update app fonts
$primary-font-typography: mat-typography-config(
    $font-family: 'Proxima Nova, monospace',
);

$accent-font-typography: mat-typography-config(
    $font-family: 'Open Sans, monospace',
);

@include angular-material-typography($primary-font-typography);
@include mat-base-typography($primary-font-typography);
@include mat-button-typography($accent-font-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: (
    50 : #fef3e4,
    100 : #fde0bb,
    200 : #fccc8e,
    300 : #fab761,
    400 : #f9a73f,
    500 : #f8981d,
    600 : #f7901a,
    700 : #f68515,
    800 : #f57b11,
    900 : #f36a0a,
    A100 : #ffffff,
    A200 : #fff1e9,
    A400 : #ffd1b6,
    A700 : #ffc09c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-palette: (
    50 : #e2f9f0,
    100 : #b8efda,
    200 : #88e5c2,
    300 : #58dba9,
    400 : #35d396,
    500 : #11cb84,
    600 : #0fc67c,
    700 : #0cbe71,
    800 : #0ab867,
    900 : #05ac54,
    A100 : #d6ffe7,
    A200 : #a3ffca,
    A400 : #70ffac,
    A700 : #57ff9d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kuberlogic-primary: mat-palette($primary-palette);
$kuberlogic-accent: mat-palette($accent-palette);

// The warn palette is optional (defaults to red).
$kuberlogic-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kuberlogic-theme: mat-light-theme((
  color: (
    primary: $kuberlogic-primary,
    accent: $kuberlogic-accent,
    warn: $kuberlogic-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kuberlogic-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Proxima Nova', "Helvetica Neue", sans-serif; }

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
}

simple-snack-bar button.mat-button-base {
    color: white;
}
