.backup-storage-dialog {
    max-width: 600px;

    h2 {
        color: #2B2B2B;
        font-weight: 600;
    }
    form {
        display: flex;
    }
    &__column {
        width: 267px;
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    &__field {
        width: 100%;
        min-width: 330px;
        margin-bottom: 50px;
    }

    &__label {
        line-height: 16px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }
}
