<form class="backup-form" [formGroup]="formGroup">

    <div class="backup-form__bar">
        <div class="backup-form__spaced-container">
            <mat-slide-toggle (change)="save()"
                              formControlName="enabled"
                              color="primary"
                              id="backup_enabled"></mat-slide-toggle>
            <label class="backup-form__label" for="backup_enabled">Automatic backups</label>
        </div>
        <button mat-flat-button class="backup-form__bar__open-button" (click)="onOpen()">
            <mat-icon>settings</mat-icon>
            Backup storage
        </button>
    </div>

    <div class="backup-form__block">
        <label class="backup-form__block__label">Schedule</label>
        <div class="backup-form__block__form">
            <mat-icon>restore</mat-icon>
            <kl-schedule-select (saveNeeded)="save()" formControlName="schedule"></kl-schedule-select>
        </div>
    </div>

</form>
