$black100: #000000; // texts
$white100: #FFFFFF; // texts

$gray100: #525252; // titles/body
$gray50: #A4A4A4; // disabled text
$gray20: #ECEEF1; // border table line
$gray10: #F4F5F7; // table headers menu

$orange100: #F8981D; // buttons
$orange120: #ED9019; // buttons hover

$green100: #11CB84; // status

$red100: #E24C50; // error/status

$primary-color: $orange100;
$accent-color: $green100;
