package app

import (
	"github.com/go-openapi/runtime/middleware"
	"github.com/kuberlogic/kuberlogic/modules/dynamic-apiserver/pkg/generated/models"
    {{range .Operations }}
	api{{ pascalize .Package }} "github.com/kuberlogic/kuberlogic/modules/dynamic-apiserver/pkg/generated/restapi/operations/{{ .Package }}"
	{{- end}}
)

type Handlers interface {
    OnShutdown()
    ListOptionsByKeyValue(key string, value *string) v1.ListOptions
	{{range .Operations}}
    {{ pascalize .Name }}Handler(params api{{ pascalize .Package }}.{{ pascalize .Name }}Params, _ *models.Principal) middleware.Responder
    {{- end}}
}