---
apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: kuberlogic-keycloak
  labels:
    app: sso
spec:
  instances: 1
  extensions:
    - https://github.com/aerogear/keycloak-metrics-spi/releases/download/1.0.4/keycloak-metrics-spi-1.0.4.jar
  externalAccess:
    enabled: False
  podDisruptionBudget:
    enabled: False
  externalDatabase:
    enabled: False
---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: kuberlogic
  labels:
    app: sso
spec:
  realm:
    unamanaged: true
    id: "kuberlogic_realm"
    realm: "kuberlogic_realm"
    enabled: True
    displayName: "Kuberlogic"
    eventsListeners:
      - "metrics-listener"
    users:
      - username: "realm_admin"
        firstName: "John"
        lastName: "Doe"
        email: "none@example.com"
        enabled: True
        emailVerified: False
        credentials:
          - type: password
            value: secret
            temporary: false
        realmRoles:
          - "offline_access"
          - "uma_authorization"
        clientRoles:
          account:
            - "manage-account"
            - "view-profile"
          realm-management:
            - "manage-users"
            - "view-users"
            - "query-users"
            - "create-client"
  instanceSelector:
    matchLabels:
      app: sso
---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: apiserver
  labels:
    app: sso
spec:
  realmSelector:
    matchLabels:
      app: sso
  client:
    clientId: apiserver
    secret: apiserver-secret
    clientAuthenticatorType: client-secret
    protocol: openid-connect
    directAccessGrantsEnabled: true
    serviceAccountsEnabled: true
    authorizationServicesEnabled: true
    authorizationSettings:
      allowRemoteResourceManagement: true
      resources:
        - name: "a0c394e31c9740376635c8878cf5889e:*"
          type: kuberlogicservice
          uri: "/blah"
          scopes:
            - name: "service:*"
      policies:
        - name: kuberlogic-system-allow
          type: user
          logic: POSITIVE
          config:
            users: '["kuberlogic-system-admin"]'
        - name: kuberlogic-system-full
          type: scope
          decisionStrategy: UNANIMOUS
          config:
            applyPolicies: '["kuberlogic-system-allow"]'
            scopes: '["service:*"]'
            resources: '["a0c394e31c9740376635c8878cf5889e:*"]'
    protocolMappers:
      - name: "apiserver-aud"
        protocol: "openid-connect"
        consentRequired: false
        protocolMapper: "oidc-audience-mapper"
        config:
          included.client.audience: "apiserver"
          access.token.claim: "true"
---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: kuberlogic-system-user
  labels:
    app: sso
spec:
  realmSelector:
    matchLabels:
      app: sso
  user:
    credentials:
    - type: password
      value: password
      temporary: false
    email: kuberlogic@cloudlinux.com
    id: kuberlogic-system-admin
    username: kuberlogic-system-admin
    enabled: true
    firstName: kuberlogic
    lastName: system
    realmRoles:
      - "offline_access"
      - "uma_authorization"
    clientRoles:
      account:
        - manage-account
        - view-profile