<form class="login" [formGroup]="formGroup" (submit)="onLogin()">
    <div class="login__logo"></div>

    <mat-form-field floatLabel="never" appearance="outline">
        <span class="login__icon">
            <i class="material-icons">person</i>
        </span>
        <input class="login__input"
               type="text"
               autofocus
               formControlName="username"
               placeholder="Username"
               matInput>
        <mat-error>
            <div *ngIf="formGroup.controls.username.errors?.required">This field is required</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="outline">
        <span class="login__icon">
            <i class="material-icons">lock</i>
        </span>
        <input class="login__input"
               type="password"
               formControlName="password"
               placeholder="Password"
               matInput>
        <mat-error>
            <div *ngIf="formGroup.controls.password.errors?.required">This field is required</div>
        </mat-error>
    </mat-form-field>

    <mat-error>
        <div *ngIf="wrongCredentials">Login or password is incorrect</div>
    </mat-error>

    <mat-error>
        <div *ngIf="serverError">Server error</div>
    </mat-error>

    <button mat-flat-button color="primary" type="submit">Login</button>
</form>
