<form class="service-logs-form" [formGroup]="formGroup">
    <div class="service-logs-form__left-part">
        <mat-form-field floatLabel="never" appearance="outline">
            <mat-select formControlName="serviceInstance"
                        (valueChange)="onSubmit()"
                        disableOptionCentering>
                <mat-option *ngFor="let item of (dataSource | async) | keyvalue" [value]="item.key" >
                    {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="service-logs-form__right-part">
        <button mat-flat-button class="service-logs-form__refresh-button" (click)="onSubmit()">
            <mat-icon>autorenew</mat-icon>
            Refresh
        </button>
    </div>
</form>
