.service-logs-form {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    &__left-part {
        display: flex;
        align-items: center;

        mat-form-field {
            width: 362px;
        }
    }

    &__right-part {
        display: flex;
    }

    &__refresh-button {
        height: 40px;
        margin-top: 4px;
        line-height: 24px;
    }

    &__title {
        font-family: "Open Sans", serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }

    &__icon {
        width: 40px;
        font-size: 30px;
    }
}
