---
apiVersion: v1
kind: ConfigMap
metadata:
  name: victoriametrics-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
data:
  victoriametrics.yaml: |
    global:
      scrape_interval: 10s

    scrape_configs:
    - job_name: kubernetes-nodes
      authorization:
        credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      kubernetes_sd_configs:
      - role: node
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_node_label_(.+)
      - replacement: kubernetes.default.svc:443
        target_label: __address__
      - regex: (.+)
        replacement: /api/v1/nodes/$1/proxy/metrics
        source_labels:
        - __meta_kubernetes_node_name
        target_label: __metrics_path__
      scheme: https
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
    - job_name: kubernetes-pods
      authorization:
        credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      tls_config:
        insecure_skip_verify: true
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
      - action: keep
        regex: true
        source_labels:
        - __meta_kubernetes_pod_annotation_monitoring_cloudlinux_com_scrape
      - action: replace
        regex: (.+)
        source_labels:
        - __meta_kubernetes_pod_annotation_monitoring_cloudlinux_com_path
        target_label: __metrics_path__
      - action: replace
        regex: ([^:]+)(?::\d+)?;(\d+)
        replacement: $1:$2
        source_labels:
        - __address__
        - __meta_kubernetes_pod_annotation_monitoring_cloudlinux_com_port
        target_label: __address__
      - action: replace
        regex: (https?)
        source_labels:
        - __meta_kubernetes_pod_annotation_monitoring_cloudlinux_com_scheme
        target_label: __scheme__
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - action: replace
        source_labels:
        - __meta_kubernetes_namespace
        target_label: kubernetes_namespace
      - action: replace
        source_labels:
        - __meta_kubernetes_pod_name
        target_label: kubernetes_pod_name
      - action: drop
        regex: Pending|Succeeded|Failed
        source_labels:
        - __meta_kubernetes_pod_phase
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vmalert-rules
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "monitoring.labels" . | nindent 4 }}
data:
  alert.rules: |
    ---
    groups:
    - name: kuberlogic-alerts
      rules:
      - alert: kuberlogic-memory-usage
        expr: (sum(eagle_pod_container_resource_usage_memory_bytes{pod=~"kuberlogic-my.*"}) by (pod)) / max(kubelogic_memory_limit_bytes{name="kuberlogic-my"}) > 0.3
        for: 1m