<div class="radio-group">
    <div
        *ngFor="let selector of selectors; trackBy: trackByValue"
        mat-ripple
        class="radio-group__item"
        [class.radio-group__item--active]="selector.value === value"
        (click)="selectType(selector.value)"
    >
        <ng-container *ngIf="!!selector.svgIcon">
            <mat-icon [svgIcon]="selector.svgIcon" class="radio-group__icon"></mat-icon>
        </ng-container>
        <ng-container *ngIf="!!selector.materialIconName">
            <mat-icon class="radio-group__icon">{{selector.materialIconName}}</mat-icon>
        </ng-container>
        <span>{{selector.title}}</span>
    </div>
</div>
