@import "../../../assets/styles/colors";

.radio-group {
    display: flex;

    &__item {
        margin-right: 10px;
        border: 1px solid $gray20;
        cursor: pointer;
        padding: 20px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        font-family: "Proxima Nova", sans-serif;
        user-select: none;

        &:hover {
            border: 1px solid $orange100;
        }

        &--active {
            border: 1px solid $orange100;
        }
    }

    &__icon {
        margin-right: 25px;
        transform: scale(1.5);
    }
}
