<div class="create-service-header">
    <div class="create-service-header__name">
        <a [routerLink]="'/services'">
            <button mat-flat-button class="create-service-header__back-button">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </a>
        <div>Create new service</div>
    </div>
    <div class="create-service-header__actions">
        <a [routerLink]="'/services'">
            <button mat-flat-button>Cancel</button>
        </a>
        <button mat-flat-button color="primary" class="create-service-header__create-button" (click)="onCreatePressed()">Create new service</button>
    </div>
</div>
