.create-service-header {
    display: flex;
    justify-content: space-between;

    &__name {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
    }

    &__actions {
        display: flex;
    }

    &__back-button {
        min-width: 40px;
        padding: 0;
        margin-right: 15px;
    }

    &__create-button {
        margin-left: 5px;
    }
}
