@import "../../../../../../../../../assets/styles/colors";

.service-settings-form {
    &--disabled {
        background: $gray10;
        border: 1px solid $gray20;
        pointer-events: none;
    }

    &__warning {
        width: 100%;
        font-family: "Proxima Nova", serif;
        font-size: 13px;
        line-height: 13px;
        background: $gray10;
        text-align: center;
        padding: 15px 0;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        height: 100px;
        width: 100%;
        left: 0;
        background: $white100;
        border: 1px solid $gray20;
        box-shadow: 0px -3px 24px rgba(0, 0, 0, 0.108064);
        z-index: 2;
    }

    &__label {
        font-family: "Proxima Nova", serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;

        &--warning {
            color: $red100;
        }

        &--short {
            width: 266px;
        }
    }

    &__block-label {
        color: $black100;
        font-family: "Open Sans", serif;
        font-weight: 600;
        font-size: 13px;
    }

    &__block {
        border: 1px solid $gray20;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 362px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 40px;
    }

    &__schedule {
        display: flex;
        justify-content: space-between;
    }

    &__schedule-period {
        width: 110px;
    }

    &__spaced-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__maintenance {
        display: flex;
        flex-direction: column;
    }

    &__advanced-setting {
        display: flex;
        justify-content: space-between;
    }

    &__advanced-setting-field {
        width: 90%
    }

    &__add-setting-button {
        margin-top: 3px;
        display: flex;
        align-items: center;
    }

    padding-bottom: 120px;
}
