@import "../../../../../../../../../assets/styles/colors";

.service-restores-table {
    margin-bottom: 30px;

    .status-cell-ok {
        color: $green100;
    }

    .status-cell-failed {
        color: $red100;
    }
}
