<div class="user-management">
    <h1 class="user-management__header">User Management</h1>

    <div class="user-management__info">
        <div class="user-management__info-header">
            User Management is implemented using the Keycloak service.
        </div>
        <div class="user-management__info-row">
            Please read our <a href="/" class="user-management__link">documentation</a> on how to use it.
        </div>
        <div class="user-management__info-row">
            You can access the Keycloak service at <a href="/" class="user-management__link">https://localhost:123/keycloak</a>
        </div>
    </div>
</div>
