@import "../../../assets/styles/shared";

.user-management {
    &__header {
        font-size: 20px;
        padding-left: 15px;
        font-weight: 600;
    }

    &__info {
        margin-top: 150px;
        text-align: center;
    }

    &__info-header {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
    }

    &__info-row {
        font-size: 15px;
    }

    &__link {
        color: $primary-color;
        text-decoration: none;
        font-weight: 700;
    }
}
